<% @transactions.each do |transaction| %>
  <div class="transaction-list">
    <p>Transaction Info: <%= transaction.print_tag() %></p>
    <p>Category: <%= transaction.category.tag_name %> , limit: <%= transaction.category.amount_limit %></p>
    <p>Shop: <%= transaction.shop.shop_name %> , location: <%= transaction.shop.location %></p>
    <p><a class="body-link" href="/transactions/<%= transaction.id %>">Show Transaction</a></p>
    <br>
  </div>
<% end %>

<br>
<% sum = 0 %>
<% @transactions.each do |transaction| %>
<% sum += transaction.price() %>
<% end %>
<div class="transaction-list">
  <p>Transactions Sum: <%= sum %></p>
<br>

  <% sum = 0 %>
  <% @transactions.each do |transaction| %>
  <% sum += transaction.price() %>
  <% end %>
  <div class="transaction-list">
    <p>Transactions Sum: <%= sum %></p>
