<p>Transaction Title: <%= @transaction.title %></p>
<p>Price: <%= @transaction.price %></p>
<p>Date: <%= @transaction.date_input %></p>
<p>Category: <%= @transaction.category.tag_name %></p>
<p>Shop: <%= @transaction.shop.shop_name %></p>
<p><a class="body-link" href="/transactions/<%= @transaction.id %>/edit">Edit Transaction</a></p>

<form method="post" action="/transactions/<%= @transaction.id %>">
  <input type="hidden" name="_method" value="delete">
  <button class="big-button button">Delete Transaction</button>
</form>
