
<div class="introduction">
<h1>&nbsp</h1>
<%@budget = 0%>
<%@budget += @category.total_sum%>
<h3><%=@category.tag_name %> total: <%= @budget%>£ </h3>
<p> limit : <%= @category.amount_limit%> £ </p>
<p><% if @category.total_sum >= @category.amount_limit %></p>
<br>
   <p id ="red"> you are <%= @budget -= @category.amount_limit %> £ over budget</p>
   <%end%>
<hr>
 <% @transactions.each do |transaction| %>
  <% if transaction.category.tag_name == @category.tag_name %>
  <div class="transaction-list">
    <tr>
      <br>
      <td> <%= transaction.print_tag %></td>
      <br>
    </tr>
  </div>
<%end%>
<%end%>
