<div class="introduction">
  <h1>&nbsp</h1>
  <h3>new transaction</h3>
  <br>
  <div class="box">
  <form method="post" action="/transactions/<%= @transaction.id%>">
  <input type="hidden" name="_method" value="put">
  <ul class="flex-outer">
    <li>
    <label for="title-field" class="label">Transaction Title: </label>
      <input
        type="text"
        name="title"
        id="title-field"
        value="<%=@transaction.title%>"
      />
  </li>
  <li>
    <label for="price-field" class="label">Price:</label>
      <input
      type="number"
      name="price"
      id="price-field"
      value="<%=@transaction.price%>"
      />
  </li>
<li>
    <label for="date-input-field" class="label">Date:</label>
      <input
        type="date"
        name="date_input"
        id="date-input-field"
        value="<%=@transaction.date_input%>"
      />
    </li>
    <li>
    <label for= "category-selection" class="label">Category:</label>
      <select name="category_id" id="category_selection">
        <% @categories.each do |category| %>
        <option value= <%=category.id%> <%="selected" if @transaction.category_id = category.id %>><%=category.tag_name%></option>
        <% end %>
      </select>
    </li>
<li>
    <label for="shop-name-field" class="label">Shop:</label>
      <select name="shop_id" id="shop_selection">
        <% @shops.each do |shop| %>
        <option value= <%=shop.id%>> <%=shop.shop_name%></option>
        <% end %>
      </select>
    </li>
  </ul>
  <button class="big-button button">Update</button>
</form>
</div>
